* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
  background-color: rgba(0, 0, 0, 0.95);
}

.home-title { 
    color: #fff;
}

.container-home { 
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

button { 
    padding: 1.2rem;
    font-weight: 800;
    margin: 2rem 0;
    cursor: pointer;
    border-radius: 20px;
}

.titleCardEpisode {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

.containerDetailEpisode { 

    padding: 4rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.cardEpisode { 
    border: 2px solid #000;
}

.titleEpisode { 
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

